/*---------NAV BAR*---------*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
#cssmenu {
  background: #f96e5b;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

* {
  margin: 0; padding: ; border: 0;
}

body {
  text-align: center;
  background: #234234;
}

/*---------HEADER---------*/

header {
  height:50px;
  background: #f0f0f0;
  width: 100%;
  z-index: 10;
  position: fixed;
  margin: 0px auto;
  top: 0px;
}

/*---------BANNER---------*/
.banner-container {
  width: 100%;
  height: 600px;
  top: 50px;
  position: fixed;
  background: #1aa5b9;
  /*background-image: url('warning.jpg');
  background-repeat: no-repeat;*/
}

  #map-canvas {
    width:98%;
    height: 570px;
    margin-top: 15px;
    margin-left: 15px;
    
  }

  .aboutstuff {
    margin: 25px auto;
    padding: 5px;
    width:50%;
    height: 200px;
    border: 0px solid #000;
  }
  .circular {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    margin-top: -115px;
    margin-left: 10px;
  }
  #david {
      background: url(about/aboutdavid.jpg) no-repeat;
  }
  #hugo {
      background: url(about/abouthugo.jpg) no-repeat;
  }
  #hannan {
      background: url(about/abouthannan.jpg) no-repeat;
  }
  .names {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    color: #f0f0f0;
    text-align: left;
    margin-top: 20px;
    margin-left: 175px;
  }
  .aboutus {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #f0f0f0;
    text-align: left;
    margin-top: 20px;
    margin-left: 175px;
  }

/*---------CONTENT---------*/
.content-container {
  width: 100%;
  top: 580px;
  position: relative;
  margin: 70px auto;
  background: #f96e5b;
  border-top: 7px;
  border-top-style: solid;
  border-top-color: #f0f0f0;
}

.content {
  width: 960px;
  height: 1570px;
  top:20px;
  position: relative;
  background: #f0f0f0;
  margin: 25px auto;
}

.about-container {
  width: 100%;
  height: 100%;
  top: 50px;
  position: fixed;
  background: #1aa5b9;
  /*background-image: url('warning.jpg');
  background-repeat: no-repeat;*/
}

/*---------FOOTER---------*/
.content-container {
  min-height: 1500px;
  /* equal to footer height */
  margin-bottom: -50px; 
}
.content-container:after {
  content: "";
  display: block;
}
.footer, .footer-about, .content-container:after {
  height: 50px; 
}
.footer {
  top:580px;
  background: #333333;
  z-index: 10;
  position: relative;
}
.footer-about {
  top:94%;
  background: #333333;
  z-index: 10;
  position: relative;
}
.footer-text {
  padding-top: 10px;
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
}

/*---------CAPTURE---------*/
.black_overlay{
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: fixed;
    top: 2%;
    bottom:2%;
    left: 24%;
    width: 45%;
    height:89%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}
video { 
    border: 3px solid #ccc; 
    padding-left: 0;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#canvas { border: 3px solid #ccc; padding-left: 0;
  padding-top: 0;
  margin-top: 10px;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  display: block; 
}
.sexybutton {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #f0f0f0;
  font-size: 12px;
  display: block;
  height:40px; 
  position:relative; 
  margin: -20px -50px; 
  width:100px; 
  top:75%; 
  left:50%;
  background-color: #333333;
}
.snapphoto { width:100%; height:50px; }

/*---------UPLOADS---------*/
.white_content_uploads {
    display: none;
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 16px solid orange;
    background-color: white;
    z-index:1002;
    overflow: auto;
}

.input-file-row-1:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.input-file-row-1{
    display: inline-block;
    margin-top: 25px;
    position: relative;
}

#preview_image {
  display: none;
  width: 90px;
  height: 90px;
  margin: 2px 0px 0px 5px;
  border-radius: 10px;
}

.upload-file-container { 
    position: relative; 
    width: 100px; 
    height: 137px; 
    overflow: hidden;   
    background: url(http://i.imgur.com/AeUEdJb.png) top center no-repeat;
    float: left;
    margin-left: 23px;
    top: 30%;
    left: -9.75%;
} 

.upload-file-container-text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    color: #719d2b;
    line-height: 17px;
    text-align: center;
    display: block;
    position: absolute; 
    left: 0; 
    bottom: 0; 
    width: 100px; 
    height: 35px;
}

.upload-file-container-text > span{
    border-bottom: 0px solid #719d2b;
    cursor: pointer;
}

.one_opacity_0 {
  opacity: 0;
  height: 0;
  width: 1px;
  float: left;
}

.sexybuttonupload {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #f0f0f0;
  font-size: 12px;
  display: block;
  height:40px; 
  position:relative; 
  margin: -20px -50px; 
  width:100px; 
  top:75%; 
  left:50%;
  background-color: #333333;
}

.addphoto { width:100%; height:100px; }
.uploadphoto { width:100%; height:50px; }
